<section class="hiredev" *ngIf="hiredevContent">
  <div class="container text-center my-5">
    <h2 class="section-title">{{ hiredevContent!.heroTitle }}</h2>
    <p class="about-subheading">
      {{ hiredevContent!.heroDescription }}
    </p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.sections.trial.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ hiredevContent!.sections.trial.title }}
            </h5>
            <p class="card-text">
              {{ hiredevContent!.sections.trial.description }}
            </p>
            <a
              (click)="scrollToContact()"
              class="btn custom-btn"
              style="cursor: pointer"
              >{{ hiredevContent!.sections.trial.buttonText }}</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.sections.experience.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ hiredevContent!.sections.experience.title }}
            </h5>
            <p class="card-text">
              {{ hiredevContent!.sections.experience.description }}
            </p>
            <a
              (click)="scrollToContact()"
              class="btn custom-btn"
              style="cursor: pointer"
              >{{ hiredevContent!.sections.experience.buttonText }}</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.sections.costSaving.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ hiredevContent!.sections.costSaving.title }}
            </h5>
            <p class="card-text">
              {{ hiredevContent!.sections.costSaving.description }}
            </p>
            <a
              (click)="scrollToContact()"
              class="btn custom-btn"
              style="cursor: pointer"
              >{{ hiredevContent!.sections.costSaving.buttonText }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
