<section class="hiredev" *ngIf="hiredevContent">
  <div class="container text-center my-5">
    <h2 class="section-title">{{ hiredevContent!.heroTitle }}</h2>
    <p class="about-subheading">
      {{ hiredevContent!.heroDescription }}
    </p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">{{ hiredevContent!.trialButtonText }}</h5>
            <p class="card-text">
              {{ hiredevContent!.callButtonText }}
            </p>
            <a href="#" class="btn custom-btn">{{
              hiredevContent!.trialButtonText
            }}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">{{ hiredevContent!.experienceYears }}</h5>
            <p class="card-text">
              {{ hiredevContent!.upgradeServiceText }}
            </p>
            <a href="#" class="btn custom-btn">{{
              hiredevContent!.callButtonText
            }}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            [src]="hiredevContent!.imageUrl"
            class="card-img-top"
            alt="Dedicated Developers"
          />
          <div class="card-body text-center">
            <h5 class="card-title">{{ hiredevContent!.costSavingText }}</h5>
            <p class="card-text">
              {{ hiredevContent!.costSavingText }}
            </p>
            <a href="#" class="btn custom-btn">{{
              hiredevContent!.callButtonText
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
