<div class="container location-section mt-5">
  <h2 class="text-center">Offices and Development Centers</h2>

  <div class="row mt-4 location-content">
    <!-- Location 1 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <img src="assets/ind_60_60.png" width="50" />
        <h3>Ahmedabad</h3>
        <p>408, Promienence by Sangath IPL, Ahmedabad, India 380059</p>
      </div>
    </div>

    <!-- Location 2 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <img src="assets/ind_60_60.png" width="50" />
        <h3>GIFT City</h3>
        <p>1007, Shilp Centrica, GIFT City, Gandhinagar, India 382355</p>
      </div>
    </div>

    <!-- Location 3 -->
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <img src="assets/aus_60_60.png" width="50" />
        <h3>Brisbane</h3>
        <p>Clara St, Wynnum QLD 4178, Australia</p>
      </div>
    </div>

    <!-- Location 4 -->
    <!-- <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <img src="assets/location4.svg" width="50" />
        <h3>London</h3>
        <p>1 Canada Square, Canary Wharf, London E14 5AB</p>
      </div>
    </div> -->
  </div>
</div>
