<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="assets/Fynore_logo.png" alt="Logo" /> -->
      <img src="assets/Fynore_logo_4.png" alt="Logo" />
    </a>

    <!-- Toggler for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>

        <!-- Services Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="servicesDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Services
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let service of services">
              <a
                class="dropdown-item"
                [routerLink]="['/services', service.route]"
              >
                {{ service.name }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Industries Dropdown -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="industriesDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Industries
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">E-commerce</a></li>
            <li><a class="dropdown-item" href="#">Healthcare</a></li>
            <li><a class="dropdown-item" href="#">Finance</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>

      <!-- CTA Button -->
      <button class="btn btn-primary ms-3">Book A 30 Min Call</button>
    </div>
  </div>
</nav>
