<div class="content" [class.loading-state]="loading">
  <app-hiring [serviceType]="serviceType"></app-hiring>
  <app-tech-banner [serviceType]="serviceType"></app-tech-banner>
  <app-hiredev [serviceType]="serviceType"></app-hiredev>
  <app-fullstack [serviceType]="serviceType"></app-fullstack>
  <app-pricing [serviceType]="serviceType"></app-pricing>
  <app-services></app-services>

  <app-contactlocations></app-contactlocations>
  <app-contact></app-contact>
</div>

<div class="loader-container" *ngIf="loading">
  <div class="spinner"></div>
</div>
