<div class="content" [class.loading-state]="loading">
  <app-hiring [mainRoute]="mainRoute" [subRoute]="subRoute"></app-hiring>
  <app-tech-banner
    [mainRoute]="mainRoute"
    [subRoute]="subRoute"
  ></app-tech-banner>
  <app-hiredev [mainRoute]="mainRoute" [subRoute]="subRoute"></app-hiredev>
  <app-fullstack [mainRoute]="mainRoute" [subRoute]="subRoute"></app-fullstack>
  <app-pricing [mainRoute]="mainRoute" [subRoute]="subRoute"></app-pricing>
  <app-services></app-services>

  <app-contactlocations></app-contactlocations>
  <app-contact></app-contact>
</div>

<div class="loader-container" *ngIf="loading">
  <div class="spinner"></div>
</div>
