<section class="hiredev">
  <div class="container text-center my-5">
    <h2 class="section-title">Hire Angular Developers</h2>
    <p class="about-subheading">
      <strong>Hire Angular developers</strong> to enhance your front-end
      development with interactive, future-ready web applications. Our experts
      write efficient code, turning complex business needs into high-value
      revenue streams. With core Java and J2EE design pattern expertise, we
      support you at every stage of development, from requirements analysis to
      development.
    </p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card custom-card">
          <img
            src="assets/consulting.jpg"
            class="card-img-top"
            alt="Consulting"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Start 15 Days Risk-Free Trial!</h5>
            <p class="card-text">
              Try our exceptional service free for 15 days. No commitment, no
              risk. See if it exceeds your expectations.
            </p>
            <a href="#" class="btn custom-btn">Talk To Our Expert</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            src="assets/enterprise.jpg"
            class="card-img-top"
            alt="Enterprise"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Hiring Engagement Options:</h5>
            <p class="card-text">
              We offer flexible hiring models, including full-time, part-time,
              and hourly options.
            </p>
            <a href="#" class="btn custom-btn">Talk To Our Expert</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card custom-card">
          <img
            src="assets/appdev.jpg"
            class="card-img-top"
            alt="App Development"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Why Should I Hire Angular Developers?</h5>
            <p class="card-text">
              Our developers have years of experience in Angular and deliver
              high-quality, scalable applications.
            </p>
            <a href="#" class="btn custom-btn">Talk To Our Expert</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
