<section class="aboutus">
  <div class="container text-center my-5">
    <h2 class="section-title">How We Empower You</h2>
    <p class="about-subheading">
      Harness the Power of AI and Innovation to Drive Efficiency, Accelerate
      Growth, and Seamlessly Transform Your Business
    </p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card custom-card">
          <img
            src="assets/consulting.jpg"
            class="card-img-top"
            alt="Consulting"
          />
          <div class="card-body text-center">
            <h5 class="card-title">IT Consulting and Solutions</h5>
            <p class="card-text">
              Empowering businesses with expert guidance and innovative
              strategies to navigate digital transformation.
            </p>
            <a href="#" class="btn custom-btn">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-card">
          <img
            src="assets/enterprise.jpg"
            class="card-img-top"
            alt="Enterprise"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Enterprise Software Development</h5>
            <p class="card-text">
              Delivering scalable, cutting-edge software solutions that drive
              operational excellence.
            </p>
            <a href="#" class="btn custom-btn">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-card">
          <img
            src="assets/appdev.jpg"
            class="card-img-top"
            alt="App Development"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Innovative Application Development</h5>
            <p class="card-text">
              Crafting intuitive and high-performance applications to elevate
              user experiences and drive innovation.
            </p>
            <a href="#" class="btn custom-btn">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-card">
          <img src="assets/itstaff.jpg" class="card-img-top" alt="IT Staff" />
          <div class="card-body text-center">
            <h5 class="card-title">Flexible IT Staff Augmentation</h5>
            <p class="card-text">
              Expanding your team's capabilities with top-tier IT talent,
              precisely when you need it.
            </p>
            <a href="#" class="btn custom-btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
