<section class="pricing-section">
  <h1>{{ content?.heroTitle }}</h1>
  <p class="subtext">
    {{ content?.heroDescription }}
  </p>

  <div class="pricing-container">
    <!-- Hourly Pricing -->
    <div class="pricing-card">
      <h2 class="price">{{ content?.hourlyPrice }}<span>*</span></h2>
      <p class="price-type">Hourly (USD)</p>
      <p class="description">
        {{ content?.hourlyDescription }}
      </p>
      <a (click)="scrollToContact()" class="pricing-btn" style="cursor: pointer"
        >Hire Now</a
      >
    </div>

    <!-- Monthly Pricing - Individual -->
    <div class="pricing-card highlighted">
      <div class="badge">STARTS WITH</div>
      <h2 class="price">
        {{ content?.monthlyPriceIndividual }}<span>***</span>
      </h2>
      <p class="price-type">Monthly (USD)</p>
      <p class="description">
        {{ content?.monthlyDescriptionIndividual }}
      </p>
      <a (click)="scrollToContact()" class="pricing-btn" style="cursor: pointer"
        >Get Started</a
      >
    </div>

    <!-- Monthly Pricing - Team -->
    <div class="pricing-card">
      <h2 class="price">{{ content?.monthlyPriceTeam }}<span>*****</span></h2>
      <p class="price-type">Monthly (USD)</p>
      <p class="description">{{ content?.monthlyDescriptionTeam }}</p>
      <a (click)="scrollToContact()" class="pricing-btn" style="cursor: pointer"
        >Contact Us</a
      >
    </div>
  </div>
  <div class="text-center">
    <a (click)="scrollToContact()" class="cta-button" style="cursor: pointer">{{
      content?.trialButtonText
    }}</a>
  </div>
</section>
