.contact-section h2 {
  font-size: 55px;
  color: #373b3e;
}
.contact-section p {
  color: #8685ef;
  font-size: 20px;
}
.contact-form {
  padding: 28px 0px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  // background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  color: #45260a;
}
.contact-form label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact-form input,
.contact-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 6px;
  display: block;
  width: 100%;
}
.btn-form:hover {
  background-color: #fff;
  color: #555;
}

// .contact-img-box {
//   background: linear-gradient(
//     to right bottom,
//     rgba(235, 151, 78, 0.35),
//     rgba(230, 125, 34, 0.35)
//   );
//   background-size: cover;
//   background-position: center;
// }
