<div class="container">
  <div class="connect-section">
    <h2>Connect,Collaborate and Create</h2>
    <p class="connect-description">
      We represented the connected world,collaborate to build customer-centric
      AI-driven solutions,and create innovative experiences.
    </p>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/computer2.jpg" alt="" />
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h5>1050+</h5>
            <p>Agiled Enabled Employees</p>
          </div>
          <div class="col-md-6">
            <h5>2500+</h5>
            <p>Delivered projects</p>
          </div>
          <div class="col-md-6">
            <h5>13+</h5>
            <p>Years of Experience</p>
          </div>
          <div class="col-md-6">
            <h5>14</h5>
            <p>Certified Scrum Masters</p>
          </div>
          <div class="col-md-6">
            <h5>06+</h5>
            <p>Worldwide Offices</p>
          </div>
          <div class="col-md-6">
            <h5>05</h5>
            <p>Agile Coaches</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
