.connect-section {
  background: #c7d6ff63;
  padding: 30px 0px;
}
.connect-section img {
  height: 100%;
  width: 100%;
}
.connect-section h2 {
  font-size: 55px;
  color: #373b3e;
}
.connect-section p {
  color: #8685ef;
  font-size: 20px;
}
.connect-content h5 {
  font-size: 30px;
}
.connect-content p {
  font-size: 16px;
}
