.location-section h2 {
  font-size: 55px;
  color: #373b3e;
}
.location-section p {
  color: #8685ef;
  font-size: 20px;
}
.location-content .card {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 20px;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.location-content img {
  margin-right: 10px;
}
.location-content h3 {
  font-size: 20px;
}
.location-content p {
  margin-top: 10px;
  font-size: 16px;
}
