<div class="container location-section mt-5">
  <div class="row">
    <div class="col-12">
      <h2>Offices and Development Centers</h2>
    </div>
  </div>

  <div class="row mt-4 location-content">
    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>
  </div>

  <div class="row mt-5 location-content">
    <div class="col-12">
      <h2>Global Presence</h2>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            width="50"
          />
          <h3>Ahmedabad</h3>
        </div>
        <p>15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059</p>
      </div>
    </div>
  </div>
</div>
