<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Offices and Development Centers</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="india-flag.png"
          alt="India Flag"
          class="card-img-top mx-auto"
        />
        <div class="card-body">
          <h5 class="card-title">Ahmedabad</h5>
          <p class="card-text">
            15-16, Times Corporate Park, Thaltej, Ahmedabad, 380059
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="india-flag.png"
          alt="India Flag"
          class="card-img-top mx-auto"
        />
        <div class="card-body">
          <h5 class="card-title">Gandhinagar</h5>
          <p class="card-text">
            422-A, 4th Floor, Pragya Tower, Road 11, Block 15, Zone 1, SEZ-PA
            Gandhinagar, 382355
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="india-flag.png"
          alt="India Flag"
          class="card-img-top mx-auto"
        />
        <div class="card-body">
          <h5 class="card-title">Hyderabad</h5>
          <p class="card-text">
            Awfis, Level 1, N Heights, Plot No 38, Phase 2, Hitech City,
            Hyderabad, 500081
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>Global Presence</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="usa-flag.png"
          alt="USA Flag"
          class="card-img-top mx-auto"
          style="width: 50px"
        />
        <div class="card-body">
          <h5 class="card-title">New Jersey</h5>
          <p class="card-text">33 South Wood Ave, Suite 600, Iselin NJ 08830</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="usa-flag.png"
          alt="USA Flag"
          class="card-img-top mx-auto"
          style="width: 50px"
        />
        <div class="card-body">
          <h5 class="card-title">California</h5>
          <p class="card-text">
            535 Mission St 14th floor, San Francisco, CA 94105
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <img
          src="usa-flag.png"
          alt="USA Flag"
          class="card-img-top mx-auto"
          style="width: 50px"
        />
        <div class="card-body">
          <h5 class="card-title">Massachusetts</h5>
          <p class="card-text">501 Boylston St, Boston, MA 02116</p>
        </div>
      </div>
    </div>
  </div>
</div>
