<div class="hiring-hero-section" *ngIf="hiringContent">
  <section
    class="hiring-hero"
    [style.backgroundImage]="'url(' + hiringContent!.imageUrl + ')'"
  >
    <div class="hiring-content">
      <header>
        <h1>{{ hiringContent!.heroTitle }}</h1>
        <p class="subtitle">{{ hiringContent!.heroDescription }}</p>
      </header>
      <div class="hiring-cta-buttons">
        <a href="#" class="btn btn-primary">
          {{ hiringContent!.trialButtonText }}
        </a>
      </div>
    </div>
  </section>
</div>
