<div class="container client-section mt-5 text-center">
  <h2>Fortune 500 Clients</h2>
  <p class="client-description">
    Trusted by the world’s most outstanding leaders since 2011.
  </p>

  <div class="row justify-content-center client-logos">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo1.png" alt="Client 1" />
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo2.png" alt="Client 2" />
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo3.png" alt="Client 3" />
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo4.png" alt="Client 4" />
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo5.png" alt="Client 5" />
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <img src="logo6.png" alt="Client 6" />
    </div>
  </div>

  <a href="#contact" class="btn client-btn mt-4">Explore Our Clients</a>
</div>
