<div class="container services-section mt-5">
  <h2>Featured Insights</h2>
  <p>
    Stay updated with the latest happenings in the world of emerging
    technologies
  </p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/ai.jpg" class="card-img-top" alt="Card Image" />
        <div class="card-body">
          <h5 class="card-title">IT Consulting & Solutions</h5>
          <p class="card-text">
            Empowering businesses with expert guidance and innovative strategies
            to navigate digital transformation.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/insights.jpg" class="card-img-top" alt="Card Image" />
        <div class="card-body">
          <h5 class="card-title">IT Consulting & Solutions</h5>
          <p class="card-text">
            Empowering businesses with expert guidance and innovative strategies
            to navigate digital transformation.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
