<!-- <section class="main">
  <div class="container-fluid">
    <div class="content">
      <h1 class="center-text">AI and IT Services</h1>
      <p class="center-text">
        Accelerate Business Growth Using Advanced AI Technologies and IT
        Expertise
      </p>
      <button class="btn">Let's Talk</button>
    </div>    
  </div>
</section> -->
<section class="xxmain">
  <div class="video-overlay"></div>
  <!-- <video autoplay muted loop playsinline style="width: 100%; height: auto">
    <source src="assets/ArtificialIntelligence.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->
  <!-- <video  autoplay muted loop plPaysinline  style="width: 100%; height: auto;">
    
    <source src="/assets/universe.mp4" type="video/mp4" playsinline>
    Your browser does not support the video tag.
  </video> -->
  <video
    autoplay
    muted
    loop
    playsinline
    style="width: 100%; filter: brightness(1.3) contrast(1.1); opacity: 0.85"
  >
    <source src="/assets/space_stars.mp4" type="video/mp4" playsinline />
    Your browser does not support the video tag.
  </video>
  <div class="content-overlay">
    <h1>
      Future of Technology
      <span>Powered by Intelligence</span>
    </h1>
    <p>
      Revolutionize Your Business with Next-Generation AI Solutions & Enterprise
      IT Services
    </p>
    <button class="btn">EXPLORE NOW</button>
  </div>
</section>
