/* Section Title & Description */
.industry-section h2 {
  font-size: 55px;
  color: #373b3e;
  font-weight: 700;
}

.industry-description {
  color: #5a5a8e;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto 40px;
}

/* Industry Grid */
.industry-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.industry-item {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.industry-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.industry-icon {
  font-size: 40px;
  color: #8685ef;
  margin-bottom: 10px;
}

/* Button */
.industry-btn {
  border: 2px solid grey;
  padding: 10px 40px;
  font-weight: 700;
  cursor: pointer;
  background: #8685ef;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
}

.industry-btn:hover {
  background: #889fa5;
}
