// .industry-section {
//   text-align: center;
//   margin: 2rem 0;
// }
// .industry-section h2 {
//   font-weight: bold;
//   margin-bottom: 1rem;
// }
// .industry-description {
//   margin-bottom: 2rem;
// }
// .industry-grid {
//   margin-top: 2rem;
// }
// .industry-icon img {
//   width: 50px;
//   height: 50px;
//   margin-bottom: 1rem;
// }
// .industry-item {
//   text-align: center;
// }
.industry-section h2 {
  font-size: 55px;
  color: #373b3e;
}
.industry-description {
  color: #8685ef;
  font-size: 20px;
}
.industry-section .btn {
  border: 2px solid grey;
  padding: 4px 40px;
  font-weight: 700;
  cursor: pointer;
  font-weight: 500;
  background: #8685ef;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.industry-section .btn:hover,
.industry-section .btn:active {
  background: #889fa5;
}
