<div class="container mt-5">
  <div class="industry-section">
    <h2>Industries We Serve</h2>
    <p class="industry-description">
      We are architects of innovation across industries. Our profound expertise
      in crafting industry-specific solutions redefines excellence.
    </p>
    <div class="row industry-grid">
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/fintech-icon.png" alt="Fintech" />
        </div>
        <h5>Fintech</h5>
      </div>
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/healthcare-icon.png" alt="Healthcare" />
        </div>
        <h5>Healthcare</h5>
      </div>
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/banking-icon.png" alt="Banking" />
        </div>
        <h5>Banking</h5>
      </div>
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/manufacturing-icon.png" alt="Manufacturing" />
        </div>
        <h5>Manufacturing</h5>
      </div>
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/oilgas-icon.png" alt="Oil & Gas" />
        </div>
        <h5>Oil & Gas</h5>
      </div>
      <div class="col-md-4 col-sm-6 industry-item">
        <div class="industry-icon">
          <img src="path/to/realestate-icon.png" alt="Real Estate" />
        </div>
        <h5>Real Estate</h5>
      </div>
    </div>
    <button type="button" class="btn">Industry</button>
  </div>
</div>
