<div class="container my-5 tech-section text-center">
  <h2 class="section-title">Our Tech Stack</h2>
  <p class="tech-description">
    Our expertise spans over 100+ innovative technologies and platforms,
    enabling us to deliver customized business solutions.
  </p>

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs mb-4 justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Web</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mobile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DevOps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cloud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Platforms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Relational Databases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Big Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Machine Learning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Automation Tools</a>
    </li>
  </ul>
</div>

<!-- Technology Categories -->
<div class="container tech-category">
  <h5 class="tech-heading">BACK END</h5>
  <div class="d-flex flex-wrap justify-content-center tech-icons">
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
      alt="AngularJS"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
      alt="React"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
      alt="Vue.js"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      alt="JavaScript"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      alt="HTML5"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      alt="CSS3"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
      alt="Node.js"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
      alt="Python"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
      alt="Java"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"
      alt="PHP"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"
      alt="C++"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
      alt="Go"
    />
  </div>
</div>

<div class="container tech-category">
  <h5 class="tech-heading">FRONT END</h5>
  <div class="d-flex flex-wrap justify-content-center tech-icons">
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
      alt="AngularJS"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
      alt="React"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"
      alt="Vue.js"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      alt="JavaScript"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      alt="HTML5"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      alt="CSS3"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
      alt="Node.js"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
      alt="Python"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
      alt="Java"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"
      alt="PHP"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"
      alt="C++"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
      alt="Go"
    />
  </div>
</div>
