<div class="container my-5 tech-section text-center">
  <h2 class="section-title">Our Tech Stack</h2>
  <p class="tech-description">
    Our expertise spans over 100+ innovative technologies and platforms,
    enabling us to deliver customized business solutions.
  </p>

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs mb-4 justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Web</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mobile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DevOps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cloud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Platforms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Relational Databases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Big Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Machine Learning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Automation Tools</a>
    </li>
  </ul>
</div>

<!-- Technology Categories -->
<div class="container tech-category">
  <h5 class="tech-heading">BACK END</h5>
  <div class="d-flex flex-wrap justify-content-center tech-icons">
    <img
      src="assets/techstack/RubyRails.png"
      alt="Ruby on Rails"
    />
    <img
      src="assets/techstack/NET.png"
      alt=".NET"
    />
    <img
    src="assets/techstack/NETcore.png"
    alt=".NET Core"
    />
    <img
    src="assets/techstack/Node.js.png"
    alt="NodeJS"
    />
    <img
    src="assets/techstack/Python.png"
    alt="Python"
    />
    <img
    src="assets/techstack/Java.png"
    alt="JAVA"
    />  
    <img    
    src="assets/techstack/Go.png"
    alt="Go"
    />
    <img
    src="assets/techstack/PHP.png"
    alt="PHP"
    />
    <img
    src="assets/techstack/Laravel.png"
    alt="Laravel"
    />          
  </div>
</div>

<div class="container tech-category">
  <h5 class="tech-heading">FRONT END</h5>
  <div class="d-flex flex-wrap justify-content-center tech-icons">
    <img
    src="assets/techstack/Angular.png"
    alt="Angular"
    />
    <img
    src="assets/techstack/React.png"
    alt="React"
    />    
    <img
    src="assets/techstack/Vue.js.png"
    alt="Veu.js"
    />    
    <img
    src="assets/techstack/JavaScript.png"
    alt="JavaScript"
    />
    <img
    src="assets/techstack/HTML5.png"
    alt="HTML5"
    />  
    <img
    src="assets/techstack/TypeScript.png"
    alt="TypeScript"
    />       
  </div>
</div>
