/* Ensure the section is full width and full height based on content */

.main {
  position: relative;
  width: 100%;
  background-image: url("/assets/Fynore_Background_image_800px.png");
  background-size: cover;
  height: auto;
  display: block;
  background-position: center;
  height: 700px;
}

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   position: relative;
//   text-align: center;
//   width: 100%;
// }

// .overlay {
//   position: absolute;
//   top: -220px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.content {
  color: rgb(31, 31, 31); /* Text color for visibility*/
  text-align: center;
  position: relative;
  top: 30px;
}

h1 {
  margin: 10px 0;
  font-size: 5rem;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Button styling */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Button hover effect */
}
